.dfarch-capture-form {
	display: flex;
	flex-wrap: wrap;
}

.dfarch-capture-form h3 {
	flex-basis: 100%;
	margin-top: 1em;
}

.dfarch-capture-form input[type="radio"] {
	margin-right: 0.25em;
}

.dfarch-capture-form input[type="range"] {
	margin-left: 0.25em;
}

.dfarch-capture-form .grow {
	flex: 1 0;
}

.dfarch-capture-form select {
	flex-basis: 100%;
}

.dfarch-capture-form .before {
	flex: 0 0 auto;
}

.dfarch-capture-form div {
	flex-basis: 100%;
	height: 0;
}