.dfarch-capture-form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.dfarch-capture-form h3 {
	flex-basis: 100%;
	margin-top: 0.5em;
}

.dfarch-capture-form input[type="radio"] {
	width: 20px;
	height: 20px;
	margin-right: 0.25em;
	margin-bottom: 0.125em;
}

.dfarch-capture-form input[type="range"] {
	margin-left: 0.25em;
}

.dfarch-capture-form .shrink {
	flex: 0 0 auto;
}

.dfarch-capture-form .grow {
	flex: 1 0;
}

.dfarch-capture-form select {
	flex-basis: 100%;
}

.dfarch-capture-form .before {
	flex: 0 0 auto;
}

.dfarch-capture-form div {
	flex-basis: 100%;
}

.dfarch-capture-form section {
	flex-basis: 100%;
	margin: 1em 0;
}

.dfarch-capture-form section>h3 {
	margin: 0;
}

.dfarch-capture-form section>div {
	display: inline-grid;
	align-items: center;
}

.dfarch-capture-form section>div * {
	vertical-align: middle;
}