#DFArchHKMenu select {
	margin-left: 0.5em;
}

#DFArchHKMenu tr td {
	text-align: center;
}

#DFArchHKMenu tr td:first-child {
	text-align: right;
}

#DFArchHKMenu form {
	display: flex;
	flex-flow: row wrap;
}

#DFArchHKMenu form input {
	margin: 0;
}

#DFArchHKMenu form h2,
#DFArchHKMenu form h3,
#DFArchHKMenu form p,
#DFArchHKMenu form table {
	flex: 0 0 100%;
}

#DFArchHKMenu form button {
	flex: 1 0;
}

#DFArchHKMenu form label {
	display: inline-block;
	margin: 0 0.375em;
}

#DFArchHKMenu form label>span {
	vertical-align: middle;
}

#DFArchHKMenu form label>input {
	vertical-align: middle;
}

#DFArchHKMenu .hotswap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: baseline;
}

#DFArchHKMenu .hotswap>* {
	flex: 0 0 auto;
	margin: 0;
}