#DFArchLSMenu select {
	margin-left: 0.5em;
}

#DFArchLSMenu tr td {
	text-align: center;
}

#DFArchLSMenu tr td:first-child {
	text-align: right;
}

#DFArchLSMenu form {
	display: flex;
	flex-flow: row wrap;
}

#DFArchLSMenu form input {
	margin: 0;
}

#DFArchLSMenu form h2,
#DFArchLSMenu form h3,
#DFArchLSMenu form p,
#DFArchLSMenu form table {
	flex: 0 0 100%;
}

#DFArchLSMenu form button {
	flex: 1 0;
}

#DFArchLSMenu form label {
	display: inline-block;
	margin: 0 0.375em;
}

#DFArchLSMenu form label>span {
	vertical-align: middle;
}

#DFArchLSMenu form label>input {
	vertical-align: middle;
}

#DFArchLSMenu .hotswap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: baseline;
}

#DFArchLSMenu .hotswap>* {
	flex: 0 0 auto;
	margin: 0;
}