#dfarch-cur-light-template {
	position: absolute;
	background: rgba(0, 0, 0, 0.25);
	display: grid;
	grid-template-columns: auto 1fr 1fr auto;
	width: fit-content;
	padding: 1em;
}

#dfarch-cur-light-template h1 {
	color: #fff;
	font-size: medium;
	grid-column-start: 2;
	grid-column-end: 4;
	text-align: center;
}

#dfarch-cur-light-template h2 {
	color: #fff;
	font-size: small;
	text-decoration: none;
	text-align: right;
	grid-column: 2;
	border: none;
	margin: 0;
	padding: 0.25em;
}

#dfarch-cur-light-template p {
	color: #fff;
	font-size: small;
	grid-column: 3;
	margin: 0;
	padding: 0.25em;
}
#dfarch-cur-light-template a:first-of-type {
	grid-column: 1;
	color: #fff;
}
#dfarch-cur-light-template a:last-of-type {
	grid-column: 4;
	color: #fff;
}