#dfarch-temp-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #444;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

#dfarch-temp-overlay h1 {
	color: #fff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

.dfarch-dual-ring {
	display: inline-block;
	width: 40px;
	height: 40px;
}

.dfarch-dual-ring:after {
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px;
	border-radius: 50%;
	border: 4px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}