<div style="padding-bottom:1.5em">
	<div style="text-align:center">
		<img id="img-preview" style="max-width:400px;max-height:400px">
	</div>
	<label>{{localize 'DF_ARCHITECT.TileFlattener.SaveImageDialog.FileNameLabel'}}</label>
	<input id="filename" type="text" placeholder="{{placeholder}}.{{format}}">
</div>